<div class="col-lg-10 col-lg-offset-1">
    <h1>Team: <%= current_user.team.teamName %></h1>
</div>
<% @members.each do |member| %>
<div class="well col-lg-10 col-lg-offset-1">
    <div class="col lg-6">
        <h4> <%= member.email %> </h4>
    </div>
    <div class='col-lg-4'>
        <% if !member.confirmed && current_user.confirmed %>
        <p>Has requested to join your team.</p>
        <div class='col-lg-4'>
            <%= button_to "Accept", {controller: 'static', action: 'confirm', id: member.id, type: 'confirm'}, class: 'btn btn-success', method: :post  %>
        </div>
        <div class='col-lg-4'>
            <%= button_to "Ignore", {controller: 'static', action: 'confirm', id: member.id, type: 'ignore'}, class: 'btn btn-warning', method: :post  %>
        </div>
        <% elsif member.confirmed %>
        <p style="color:green;">Confirmed</p>
        <% else %>
        <p style="color:red;">Awaiting confirmation</p>
        <% end %>
    </div>
</div>
<% end %>
<div class="col-lg-10 col-lg-offset-1 success" style="color:green; margin-top:50px;">
    <h1>Steps to add Team members:</h1>
    <ul>
        <li>Ask you team members to register on the site with team name as <%= current_user.team.teamName %> (keep the checkbox to "create team" unchecked).</li>
        <li>All requests to join your team are displayed on this page.</li>
        <li>Confirm their membership!</li>
    </ul>
    <b>NOTE:</b> All confirmed members can confirm other team members. <br/>
    If you need any help, mail us at <%= mail_to "ectf@enginner.org.in" %> or join us on #ectf on freenode.
</div>
