<!DOCTYPE html>
<html>
<head>
    <title>ECTF'14</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-default ">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= image_tag "logo.png" %> ECTF</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/faq">FAQ</a></li>
                <li ><%= link_to "Newbie", "/newbie"%></li>
                <li ><%= link_to "Sponsors", "/sponsors"%></li>
                <li ><%= link_to "Rules", "/rules"%></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <li ><%= link_to "Dashboard","/dashboard" %></li>
                <li ><%= link_to "Logout", :destroy_user_session, method: :delete %></li>
                <li ><%= link_to "Welcome #{current_user.email}", "#" %></li>
                <% else %>
                <li ><%= link_to "Sign up", :new_user_registration %></li>
                <li ><%= link_to "Sign in", :new_user_session %></li>
                <% end %>
            </ul>
        </div>
    </div>

    <div>
        <%= yield %>
    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55621630-1', 'auto');
    ga('send', 'pageview');
    </script>

</body>
<head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
</html>
